@model IEnumerable<Website_Invoice.Models.Invoice>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@await Component.InvokeAsync("InvoiceStats")

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvoiceDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalesTax)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shipping)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvoiceTotal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InvoiceDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductTotal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SalesTax)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Shipping)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InvoiceTotal)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.InvoiceId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.InvoiceId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.InvoiceId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

